.wrapper {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  text-align: center;
}

.buttonWrapper {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

button {
  height: 50px;
}

button:hover {
  color: blue;
  background-color: white;
}

.buttonSelect:active,
.buttonSelect:focus {
  background-color: brown;
}

.generate:active {
  background-color: brown;
}
