body {
  font-family: sans-serif;
}

.questions {
  width: 600px;
  margin: auto;
  font-size: 2rem;
  border: 2px solid black;
  padding: 10px;
}
.question {
  margin: auto;
  width: fit-content;
}
.options {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
}
.option {
  width: 200px;
  border: 1px solid;
}
.option:hover {
  background-color: gold;
}
.row1,
.row2 {
  gap: 10px;
  display: grid;
}
span {
  margin-right: 3px;
}
