.wrapper {
  background-color: antiquewhite;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
}
.second_wrapper {
  display: "flex";
  justify-content: "space-between";
}
.third_wrapper {
  padding-left: "15px";
}
